/NEURON/x86_64
/NeuroML2/LEMS_SimSyn4Net.xml
/NeuroML2/LEMS_SimpleNet.xml
*.spikes
/NeuroML2/*.dat
*.gv*
/NeuroML2/SimpleNet.net.nml
/NeuroML2/SimpleNet/RS.cell.nml
report.*.txt
/NEURON/*.dat
x86_64
/NeuroML2/*.mod
*_nrn.py
/NeuroML2/*.hoc
